<!DOCTYPE html>
<html>

<head></head>

<body>
  <div id="items-container">
    {% for item in items %}
    <div id="item-container">
      <div class="item-title">
        <a href="{{item.canonical.href}}">{{item.title}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>