<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  <title></title>
  {% endblock head %}
</head>

<body>
  <form method="POST" id="login" action="/ui/login">
    <label id="email-label" for="email">Email</label>
    <input type = "text" id="email" name="email">

    <label id="password-label" for="password">Password</label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Login">
  </form>
</body>
</html>